# ==========================
# Python
# ==========================
__pycache__/
*.py[cod]
*$py.class

# ==========================
# Virtual Environment
# ==========================
venv/
.venv/
env/

# ==========================
# Environment Variables
# ==========================
.env

# ==========================
# Django
# ==========================
*.log

# اگر SQLite استفاده کردی
#db.sqlite3

# فایل‌های استاتیک تولید شده
#static/
staticfiles/

# فایل‌های آپلودی کاربران
uploads/

# اگر بعداً media ساختی
#media/

# ==========================
# IDE
# ==========================
.idea/
.vscode/

# ==========================
# OS
# ==========================
.DS_Store
Thumbs.db

# ==========================
# pytest
# ==========================
.pytest_cache/

# ==========================
# mypy
# ==========================
.mypy_cache/

# ==========================
# Coverage
# ==========================
.coverage
htmlcov/

# ==========================
# VS Code
# ==========================
.history/